[submodule "hyades"]
	path = hyades
	url = https://github.com/Avartos/hyades.git
	branch = csaf
[submodule "hyades-frontend"]
	path = hyades-frontend
	url = https://github.com/Avartos/hyades-frontend.git
        branch = csaf
[submodule "hyades-apiserver"]
	path = hyades-apiserver
	url = https://github.com/Avartos/hyades-apiserver.git
        branch = csaf

